
.modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .detail-item {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        strong {
            font-weight: bold;
            margin-bottom: 5px;
        }

        img {
            max-width: 200px; // 设置图片的宽度
            height: auto; // 设置图片的高度
            border-radius: 4px;
            margin-top: 10px;
        }

        p {
            margin: 0;
            padding: 0;
            line-height: 1.5; // Enhances readability
        }
    }

    .edit-button {
        align-self: flex-end; // Aligns the button to the right
    }
}