@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.recipe-detail-container {
    @include container-style; // 使用 container-style 混合宏
    margin: $spacing-medium auto;

    @include respond-to('phone') {
        padding: $spacing-medium $spacing-small; // 在小屏幕上增加左右内边距
    }

    width: 90%;
    max-width: $max-container-width;
    min-width: 300px;
    margin: $spacing-unit auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .detail-content, .reviews-container {
      width: 100%; // container width
      max-width: 800px; // up to 800px

        &__image {
            max-width: 100%; // no overflow
            height: auto; // keep aspect ratio
            border-radius: $border-radius-large;

            margin-right: $spacing-medium;
        }

        // other styles...
    }


    // other styles...
}
