.recipe-detail-container {
    .detail-item {
      margin-bottom: 20px;
     
    }
  
    .favorite-button {
      margin-bottom: 20px;
    }
  
    .message {
      margin-bottom: 20px;
    }
  }
  