@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.recipe-detail-container {
    // 确定整个详情容器的样式
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-medium;

    .detail-content, .reviews-container {
      width: 100%; // container width
      max-width: 800px; // up to 800px

        &__image {
            max-width: 100%; // no overflow
            height: auto; // keep aspect ratio
            border-radius: $border-radius-large;
            flex-shrink: 0; // prevent image from shrinking
            margin-right: $spacing-medium;
        }

        // other styles...
    }

    // other styles...
}
