.reviews-container {
    margin-top: 20px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

  
    .custom-form {
      margin-bottom: 20px;
    }
  
    .review {
      background-color: #f8f8f8;
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      .review-rating {
        font-size: 20px;
        color: #ffd700; // gold color for stars
      }
  
      .review-content {
        font-size: 16px;
        margin-top: 5px;
      }
  
      .review-footer {
        margin-top: 10px;
        font-size: 14px;
        color: #666;
  
        .review-user {
          margin-right: 15px;
        }
  
        .review-date {
          color: #999;
        }
      }
    }
  
    p {
      text-align: center;
      margin-top: 20px;
    }
  }
  