@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: $spacing-small;
        border: 1px solid $primary-color;
        text-align: left;
    }

    th {
        background-color: lighten($primary-color, 20%);
    }

    tbody tr:nth-child(odd) {
        background-color: $background-color-light;
    }

    .button {
        // use variables
        &--view, &--delete {
            margin: 0 $spacing-small $spacing-small 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
