@import 'variables';
@import 'mixins';

body {
  font-family: $font-stack;
  font-size: $font-size-normal;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
