.button {
    padding: 0.5em 1em;
    border: none;
    margin: 5px 10px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #0069d9;
    }
    &.primary {
      background-color: #007bff;
      color: white;
    }
  
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }