@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.custom-form {
  @include container-style;
  padding: $spacing-medium;
  background-color: $background-color-light; // 根据需要调整
  border-radius: $border-radius;

  &__field {
    margin-bottom: $spacing-medium;
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-small;

    input[type="checkbox"] {
      margin-right: $spacing-small;
    }
  }

  &__submit-button {
    @include button-style($primary-color, white);
  }

  // 响应式调整
  @include respond-to('tablet') {
    padding: $spacing-small;
  }
}
    