.favorite-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ff6961; // #ff6961 is a light red color

    &:hover {
        transform: scale(1.1); // 稍微放大按钮
        color: #ff4747; // 鼠标悬停时的颜色
    }

    &.favorited {
        color: #ff4747;
    }
}
