@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.form-textarea {
  // 基本样式
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-medium;

  &__label {
    margin-bottom: $spacing-small;
    font-weight: bold;
  }

  &__textarea {
    // 文本域样式
    padding: $spacing-small;
    border: 1px solid $primary-color;
    border-radius: 4px;
    resize: vertical; // 允许垂直调整大小
  }
}
