@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.form-file-input {
  // 基本样式
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-medium;

  &__label {
    margin-bottom: $spacing-small;
    font-weight: bold;
  }

  &__input {
    // 输入框样式
    padding: $spacing-small;
    border: 1px solid $primary-color;
    border-radius: 4px;
  }
}
