.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
    .logo {
        width: 50px;
        height: 50px;
    }
  
    .navigation {
      display: flex;
      align-items: center;
  
      .welcome-message {
        margin-right: 1rem;
        font-weight: bold;
        cursor: pointer; // 显示为可点击
        &:hover {
          text-decoration: underline; // 鼠标悬停时显示下划线
        }
        /* 更多样式 */
      }
  
      .button {
        /* 针对页眉中按钮的特定样式 */
        margin-left: 0.5rem;
      }
    }
  }
