@import './../../assets/styles/variables';
@import './../../assets/styles/mixins';

.message {
  @include text-style($font-size-normal); // 使用mixin
  padding: $spacing-small;
  margin: $spacing-small 0;
  border-radius: $border-radius;
  text-align: center;
  border: 1px solid transparent; // 默认边框

  &--success {
    @include adjust-color($success-color, 50%, 20%);
  }

  &--info {
    @include adjust-color($info-color, 50%, 20%);
  }

  &--warning {
    @include adjust-color($warning-color, 50%, 20%);
  }

  &--error {
    @include adjust-color($error-color, 50%, 20%);
  }
}

