@import './../assets/styles/variables';
@import './../assets/styles/mixins';

.home-page {
  .welcome-section {
      margin-top: $spacing-medium;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include respond-to('phone') {
          padding: 0 $spacing-small;
      }

  }
}
  
