.home-page {
    .welcome-section {
        text-align: center;
        margin-top: 50px;
        h1 {
            font-size: 2em;
            color: #333;
        }
    }
}

.recipes-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .recipe-card {
    width: 32%; 
    margin-right: 2%;
    margin-bottom: 2%; 
  }
  
  .recipe-card:nth-child(3n) {
    margin-right: 0; 
  }
